<p>Are you sure you want to buy <%=@game.name%>?</p>

<%= form_tag game_purchases_path do %>
    <article>
        <% if flash[:error].present? %>
            <div id="error_explanation">
                <p><%= flash[:error] %></p>
            </div>
        <% end %>

        <label class="amount">
            <span>Amount: $<%= @game.price %></span>
        </label>
    </article>
    
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Payment for game"
        data-amount="<%=(@game.price*100).to_i%>"
        data-locale="auto">
    </script>
<% end %>