<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= @game.name %></h1>
        <p class="lead text-muted"><strong>Price:</strong><%= @game.price %></p>
        <p class="lead text-muted">Click below to make the purchase, or to cancel.</p>
       
       
        <p>
          
          <%= link_to "BUY", game_purchases_path(@game.id), method: :post %>
          <%= link_to "BUY", game_purchases_path(@game.id), method: :post , class: "btn btn-secondary my-2"%>
          
          <a href="<%= game_path(@game.id) %>" class="btn btn-secondary my-2">Cancel</a>

        </p>
      </div>
    </div>
  </section>
</main>