<h3>Search Results</h3>

<% # Displays when a user uses the search bar %>
<%= link_to 'Back', games_path %><br>
<br><br>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @results.each do |result| %>
    <div class="col">
      
        <div class="card" style="width: 18rem;">
          <div class="card-img-top" alt="Game main image">
            <% if result.picture.attached? %>
              <%= image_tag result.picture, class: "img-thumbnail" %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= result.name %></h5>
            <p class="card-text">
              <strong>Genre:</strong>
              <%= result.genre %>
            </p>
            <p class="card-text">
              <strong>Price:</strong>
              $<%= result.price %>
            </p>
            <p><%= link_to 'Show', result %></p>
          </div>
          
      </div>
    </div>  
  <% end %>
</div>