
<div class="card mb-3" style="max-width: 100%;">
<div class="row g-0">
  <div class="col-md-4">
    <div class="img-fluid rounded-start" alt="Boardgame image">
      <% if @game.picture.attached? %>
        <%= image_tag @game.picture.representation(resize_to_limit: [400,400]).processed, :crop => :fill %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><%= @game.name %></h5>
      <p>
        <strong>Price:</strong>
        <%= @game.price %>
      </p>
      <p>
        <strong>Seller:</strong>
        <%= @game.user.username %>
      </p>
      <p class="card-text"><%= @game.description %></p>

      <p>
        <strong>Genre:</strong>
        <%= @game.genre %>
      </p>
      <p>
        <strong>Players:</strong>
        <%= @game.minimum_players %> to <%= @game.maximum_players %>
      </p>
      <p>
        <strong>Condition:</strong>
        <%= @game.condition %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @game.user.address.street_name %>, <%= @game.user.address.suburb %>, <%= @game.user.address.postcode %>
      </p>
      
      <% if @game.sold === true %>
        <h2>SOLD</h2>
      <% end %>


      <% # Stop the user from being able to buy their own game %>
      <% if user_signed_in? and (current_user.id != @game.user_id) and (@game.sold != true) %>
        <%= link_to "Buy it now", new_game_purchase_path(@game.id), class: "btn btn-primary my-2" %>
      <% end %>

      <% if user_signed_in? and (current_user.admin? or current_user.id == @game.user_id) %> 
        <%= link_to 'Edit', edit_game_path, class: "btn btn-secondary my-2" %>
        <%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary my-2" %>
      <% end %>
      <%= link_to 'Back', games_path, class: "btn btn-primary my-2" %>
    </div>
  </div>
</div>
</div>














