<h1>Addresses Index</h1>
<% # Is intended for use by the admin, but there is a glitch that allows some users to view it instead of their own data %>
<% @addresses.each do |address| %>
    
    <p>
      <strong>User:</strong>
      <%= address.user.username %>
    </p>
    <p>
      <strong>Street:</strong>
      <%= address.street_number %> <%= address.street_name %>
    </p>

    <p>
      <strong>Suburb:</strong>
      <%= address.suburb %>
    </p>

    <p>
      <strong>State:</strong>
      <%= address.state %>
    </p>

    <p>
      <strong>Postcode:</strong>
      <%= address.postcode %>
    </p>
  
    <% if user_signed_in? and (current_user.admin? or current_user.id == address.user_id) %> 
    <p><%= link_to 'Show', address %></p>
      <%= link_to 'Destroy', @address, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Back', pages_index_path %>


  <% end %>