<h1>Address of Username</h1>
<p>Street: <%= @address.street_number %> <%= @address.street_name %></p>
<p>Suburb: <%= @address.suburb %></p>
<p>Postcode: <%= @address.postcode %></p>
<p>State: <%= @address.state %></p>