<h1>Address of <%= current_user.username %></h1>
<p>Street: <%= @address.street_number %> <%= @address.street_name %></p>
<p>Suburb: <%= @address.suburb %></p>
<p>Postcode: <%= @address.postcode %></p>
<p>State: <%= @address.state %></p>

<% if user_signed_in? and (current_user.admin? or current_user.id == @game.user_id) %> 
    <%= link_to 'Edit', edit_address_path %>
    <%= link_to 'Destroy', @address, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', pages_index_path %>