<!DOCTYPE html>
<html>
  <head>
    <title>BoredGamesv2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
    </header>
    <div class="container">
      <%= image_tag "games-long.png", alt: "games heading image" %>
        
      <% # This condition displays notices at the top of the screen %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <% # Add the navbar to the top of all pages %>
      <%= render partial: 'shared/navbar' %>

      <% # Add all other content from views %>
      <%= yield %>
    </div>
  </body>
</html>
